<div class="jumbotron masthead">
  <div class="container">
    <h1><strong>403</strong></h1>
    <h2><strong>Details of this page are not available at your security clearance</strong></h2>
  </div>
</div>