<div class="jumbotron masthead small">
  <div class="container">
    <h1><strong>Are you a traitor?</strong></h1>
    <h2><strong>Traitors are terminated.</strong></h2>
  </div>
</div>
<div class="container">
  <h1>Too bad</h1>
  <p>
    You are one of The Computer's elite agents. An elite agent doesn't forget her password. Therefore you are
    probably an inferior mutant. Mutants are traitors. Traitors are terminated.
  </p>
</div>
<script>$('#smil_create_user').addClass('active');</script>