<div class="jumbotron masthead">
  <div class="container">
    <h1><strong>Paranoia</strong></h1>
    <h2><strong>SMIL - Super Mega Intelligent Lunetic. </strong></h2>
  </div>
</div>
<div class="container">
  <h1>Super Mega Intelligent Lunetic... Or Siffermaskinen i Lund</h1>
  <p>
  Is the allmighty super computer that rules the Alpha Complex.
  SMIL is a tool for the science fiction Role Playing Game "Paranoia" by West End Games. The purpose is to give the players, the troubleshooters a tool to communicate with the computer (High
  Programmer) and the other players. Obviously this doesn't go unnoticed from the High Programmer who has several tools at his disposal.
  </p>
</div>
<script >
  $('#smil_home').addClass('active');
  $('#smil_log_in').click(function() {
    console.log('log in clicked');
  });
  $('#smil_create_user').click(function() {
    console.log('create user clicked');
  })
</script>