<div class="jumbotron masthead small">
  <div class="container">
    <h1><strong>SMIL Welcomes You</strong></h1>
    <h2><strong>Are you ready to join the ranks of elite agents?</strong></h2>
  </div>
</div>
<div class="container">
  <div class="loginmodal-container">
    <h1>Register</h1><br>
    <form>
      <input id='smil_email' type="text" name="email" placeholder="Email">
      <input id='smil_password' type="password" name="pass" placeholder="Password">
      <input type="submit" class="loginmodal-submit" value="Register" onclick='return registerClicked();'>
    </form>
    <div id='smil_error'></div>
  </div>
</div>

<script type='text/javascript'>
  $('#smil_create_user').addClass('active');
  function registerClicked() {
    var email = $('#smil_email').val();
    var password = $('#smil_password').val();
    console.log('email:', email);
    console.log('password', password);
    $.ajax({
      type: 'POST',
      url: '/register',
      data: {
        email: email,
        password: password
      }
    }).done(function( data, textStatus, jqXHR ) {
      console.log('success!');
      console.log('data', data);
      console.log('text', textStatus);
      console.log('xhr', jqXHR);

    }).fail(function( jqXHR, textStatus, errorThrown ) {
      $('#smil_error').html('<p class="alert alert-danger">' + jqXHR.responseText + '</p>');
    });
    return false;
  }
</script>