<h1>Users</h1>
<ul>
  {{#each users}}
    <li><b>{{#if isComputer}}Mighty Computer{{/if}} {{username}}</b> - Clearance level: {{clearanceLevel}}</li>
  {{/each}}
</ul>
<div>TEST</div>
<script>$('#smil_users').addClass('active');</script>